$backgroundColor : rgb(30, 35, 45);
$darkgraytext: rgb(107, 106, 117);
$lightgraytext: lightgray;

$background-image-light: url(http://api.thumbr.it/whitenoise-361x370.png?background=262f36ff&noise=586078&density=48&opacity=20);
$background-image-dark: url(http://api.thumbr.it/whitenoise-361x370.png?background=1c2429ff&noise=454c61&density=48&opacity=20);
$background-image-verylight: url(http://api.thumbr.it/whitenoise-361x370.png?background=323e47ff&noise=626262&density=48&opacity=20);
