*{
    color: lightgray;
}
html{
    background-color: rgb(25, 35, 45);
}

body, footer, .topnav{

    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(25, 35, 45);
    font-size: 1.25em;
    text-align: center;
    position: sticky;
    top: 0;
    margin-top: 2em;
    padding-bottom: 2em;
    font-family: 'Mansalva', cursive;
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    top: -40px;
    background-color: rgb(25, 35, 45);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: lightgray;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
  }
  .topnav div {
    font-size: 0.8em;
    position: relative;
    right: 1em;
    top: 10px;
    float: right;
    padding-left: 2em;
  }


  #mail {
      position: relative;
      top: 15px;
      text-align: center;
      line-height: 120%;
  }

  .topnav a:not(:first-of-type):hover{
        border-radius: 20% 20% 0% 0%;}
  .topnav a:first-of-type{
        border-radius: 0% 20% 0% 0%;
    }
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: darkgray;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(36, 45, 54);;
    color: white;
    border-radius: 0% 20% 0% 0%;
  }

body{
    width: 100%;
    margin: 0;
    background-color: rgb(36, 45, 54);
    text-align: justify;
}

span.inner{
    text-indent: 2em;
    line-height: 1.5em;
    display: block;
    padding: 0.5em;
    padding-left: 15%;
    padding-right: 15%;
}




span.inner:first-child{
    padding-top: 5%;
}

span.inner:last-child{
    padding-bottom: 4%;
}

div.TL_header{
    font-weight: bold;
    font-style: italic;
    padding-left: 15%;
    padding-top: 3em;
    padding-bottom: 1em;
    display: block;
    font-size: 3em;
}
img {
    transition: transform .2s;
  }

img.inner:hover {
    transform: scale(2); 
  }

img.inner{
    padding-left: 1em;
    max-width: 25%;
    max-height: 25%;
}

img.logo {
    float: center;
    max-width: 2em;
    max-height: 2em;
}


h1 > span > span{
 font-size: 1.5em;
}

h1 > span {
    font-size: 1.5em;
}

#header{
       transition: 0.2s;
       transition-delay: 0.2s;
}

#TheHeader{
    padding-bottom: 0.5em;
    z-index: 0;
}

footer{
    padding-top: 4em;
    font-size: 0.75em;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    padding-bottom: 2em;
}

footer > span {
    color: rgb(71, 78, 100);
}

footer > span:not(:last-of-type)::after{
    font-size: 1.5em;
    content: " | ";
}

@media only screen and (orientation: portrait){

    span.LN > div.TL > span.inner{
        padding-left: 5%;
        padding-right: 5%;
    }
    
    img.inner{
        max-width: 50%;
        max-height: 50%;
        min-width: 25%;
        min-height: 25%;
    }

    header{
        margin-top:0;
        font-size: 1.7em;
        padding-bottom: 0.5em;
    }

    div.TL_header{
        padding-left: 5%;
    }

    .topnav a{
        font-size: 2em;
    }
}